# Environnement virtuel
venv/
.venv/
env/
ENV/

# Cache Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers d'environnement (mots de passe, clés d'API)
.env

# Fichiers du système ou de l'éditeur
.DS_Store
.vscode/
.idea/
